export(cputools,
       makeTravisShield, makeCodecovShield,
       makeBiocBuildShield, makeBiocCovrShield, 
       makeGithubUrl, makeGithubPageUrl, makeGithubIssuesUrl,
       pkgqsts,       
       ht,
       darken, lighten,
       colour_picker,
       color_picker,
       makeDatName,
       makeFigName,
       pdfpng)
